@font-face {
    font-family: "Hanuman";
    src: url("../assets/fonts/Hanuman-Regular.ttf")
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/static/Inter-Regular.ttf")
}

@font-face {
    font-family: "KaiseiDecol";
    src: url("../assets/fonts/KaiseiDecol-Medium.ttf")
}

@font-face {
    font-family: "FugazOne";
    src: url("../assets/fonts/FugazOne-Regular.ttf")
}

@font-face {
    font-family: "Jomhuria";
    src: url("../assets/fonts/Jomhuria-Regular.ttf")
}

.header {
    color: #000 !important;
    background-color: #EEEEEE !important;
    font-family: 'Inter';
}

.menu li {
    display: inline;
}

.menu-logar li {
    display: inline;
}

body {
    background-color: #7AADEA;
}

.cards {
    border-radius: 20px;
    background-color: rgb(19, 168, 234);
}

.cards h1{
    font-family: 'Jomhuria';
    font-size: xx-large;
}

.cards p{
    font-family: 'Inter';
}


footer {
    text-align: center;
    background-color: #6F875A;
}

/* ALINHA ITENS DE MENU PARA O MEIO SE PASSAR DE 766PX, A TRANSFORMAÇAO ENTRE OS ITENS DE MENU EM
ICONES É FEITA NO HTML PELO USANDO TAILWIND */
@media (max-width: 766px){
    .btn-menu-list{
        justify-content: center;
    }
}

/* MEDIA QUERYS RELACIONADOS COM OS ANUNCIOS */
@media(max-width: 1533px){
    .cards{
        height: 430px !important;
    }
}



@media(max-width: 1280px){
    .cards{
        height: 480px !important;
    }
}
@media (max-width: 1024px) {

    .cards {
        height: 568px !important;
    }
    
}

@media (max-width: 768px) {

    .cards {
        height: 504px !important;
    }
    
}

@media (max-width: 640px) {

    .cards {
        height: 400px !important;
    }
    
}

@media (max-width: 452px) {

    .cards {
        height: 420px !important;
    }
    
}

@media(max-width: 390px) {
    .cards{
        height: 478px !important;
    }
}