@font-face {
    font-family: "Hanuman";
    src: url("./assets/fonts/Hanuman-Regular.ttf")
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/static/Inter-Regular.ttf")
}

header {
    background-color: #EEEEEE;
}

#logo {
    width: 35px;
    height: 35px;
    margin-top: 3px;
    margin-right: 10px;
}

.brand-name {
    font-family: "Hanuman";
}

.brand-l {
    color: #6A8C4E;
}

.brand-r {
    color: #60B4E9;
}

.header-menu-items a {
    padding: 2px 7px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #081509;
}

.header-menu-items a:hover {
    padding:  2px 7px;
    background-color: rgba(208, 218, 199, 0.80);
    border-radius: 10px;
}

#sign-up {
    padding: 2px 7px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #081509;
}

#sign-up:hover {
    padding:  2px 7px;
    background-color: rgba(208, 218, 199, 0.80);
    border-radius: 10px;
}

#login {
    padding: 2px 25px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #081509;
    border: 1px solid #687C57;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 2px 0.5px #687C57;
}