@font-face {
    font-family: "Hanuman";
    src: url("../assets/fonts/Hanuman-Regular.ttf")
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/static/Inter-Regular.ttf")
}

@font-face {
    font-family: "KaiseiDecol";
    src: url("../assets/fonts/KaiseiDecol-Medium.ttf")
}

@font-face {
    font-family:"FugazOne";
    src: url("../assets/fonts/FugazOne-Regular.ttf")
}

header {
    background-color: #EEEEEE;
}

#logo {
    width: 35px;
    height: 35px;
    margin-top: 3px;
    margin-right: 10px;
}

.brand-name {
    font-family: "Hanuman";
}

.brand-l {
    color: #6A8C4E;
}

.brand-r {
    color: #60B4E9;
}

.header-menu-items a {
    padding: 2px 7px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #081509;
}

.header-menu-items a:hover {
    padding:  2px 7px;
    background-color: rgba(208, 218, 199, 0.80);
    border-radius: 10px;
}

#sign-up {
    padding: 2px 7px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #081509;
}

#sign-up:hover {
    padding:  2px 7px;
    background-color: rgba(208, 218, 199, 0.80);
    border-radius: 10px;
}

#login {
    padding: 2px 25px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #081509;
    border: 1px solid #687C57;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 2px 0.5px #687C57;
}

#banner-lettering {
    position: relative;
    top: 250px;
    left: 200px;
}

#lettering1 {
    font-family: "KaiseiDecol", serif;
    color: #2F2E41;
    font-size: 64px;
    margin-bottom: -40px;
}

#lettering2 {
    font-family: "KaiseiDecol", serif;
    color: #2F2E41;
    font-size: 38px;
    position: relative;
    top: -23px;
}

#lettering3 {
    font-family: "FugazOne", sans-serif;
    font-size: 105px;
    background: linear-gradient(90deg, #63AFDF 21.45%, #729555 79.14%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#lettering4 {
    font-family: "KaiseiDecol", serif;
    color: #2F2E41;
    font-size: 103px;
    margin-top: -74px;
}

#banner-image {
    position: relative;
    top: 150px;
}