.header{
    background-color: #EDB9E3;
}

.menu li{
    display: inline;
}

.menu li a{
    color: #fff;
}

.menu-logar li{
    display: inline;
}

.menu-logar li a{
    color: white;
}

.btn-logar{
    background-color: #48233C;
}