* {
    font-family: sans-serif !important;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    background-color: #EEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

}

.cor1 {
    color: #60B4E9;
    font-family: Hanuman;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cor2 {
    color: #6A8C4E;
}

.svg-container {
    display: flex;
    align-items: center;
}

.svg-container svg {
    margin-right: 10px;

}

.teste {
    display: flex;

    justify-content: center;

}

.quadrado-quem-somos,
.quadrado-voluntariado,
.quadrado-contato {
    width: 300px;
    height: 100px;
    background-color: #EEE;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;
    margin-top: 0;


}

.quadrado-quem-somos:hover,
.quadrado-voluntariado:hover,
.quadrado-contato:hover {
    background-color: rgba(208, 218, 199, 0.80);
    transition: 0.3s;
}

.quadrado-quem-somos>h1,
.quadrado-voluntariado>h2,
.quadrado-contato>h3 {
    font-family: Inter;
    font-size: 25px !important;
}


.perfil-usuario {
    position: relative;
    width: 80%;
    height: 80%;
    background-color: #EEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 15px;

}


.perfil-usuario img {
    width: 156px;
    height: 136px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    object-fit: cover;
}

.main {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.container-perfil-usuario {
    width: 50%;
    height: 100%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-feed {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.feed {
    width: 100%;
    height: 80%;
    background-color: #FAFAFA;
    border-radius: 15px;

}

.postar-feed {
    width: 100%;
    height: 15%;
    background-color: #FAFAFA;
    border-radius: 15px;

}

.container-chat {
    width: 30%;
    height: 100%;

}

.botoes-feed {
    fill: #595959;
}