.header{
    color: #000 !important;
    background-color: #EEEEEE !important;
}

.menu li{
    display: inline;
}

.menu-logar li{
    display: inline;
}

body{
    background-color: #7AADEA;
}

.caixa-esq{
    
    background-color: #A1D4F4;
}

.caixa-dir{
    
    background-color: #65BFF8;
}

.img-anuncio-esq{
    border-radius: 15px 0 0 15px;

}

.img-anuncio-dir{
    border-radius: 0 15px 15px 0;
}

footer{
    text-align: center;
    background-color: #6F875A;
}