@font-face {
    font-family: "Hanuman";
    src: url("../assets/fonts/Hanuman-Regular.ttf")
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/static/Inter-Regular.ttf")
}

@font-face {
    font-family: "KaiseiDecol";
    src: url("../assets/fonts/KaiseiDecol-Medium.ttf")
}

@font-face {
    font-family: "FugazOne";
    src: url("../assets/fonts/FugazOne-Regular.ttf")
}

@font-face {
    font-family: "Jomhuria";
    src: url("../assets/fonts/Jomhuria-Regular.ttf")
}

.header {
    color: #000 !important;
    background-color: #EEEEEE !important;
    font-family: 'Inter';
}

.icon-menu-list:hover > .menu-list-itens{
    opacity: 1 !important;
    display: block;
}

.menu-list-itens{
    display: block;
    opacity: 0;
    top: 23px;
}

.menu-list-itens{
    background-color: #A1D4F4;
    color: white;
    
    
}

.menu-list-itens li{
    transition: 0.8s;
}

.menu-list-itens li:hover{
    background-color: #6F875A;
    
    color: #000;
    
}

.menu li {
    display: inline;
}

.menu-logar li {
    display: inline;
}

body {
    background-color: #7AADEA;
}

.caixa-esq {
    background-color: #A1D4F4;
    margin-right: 1px;
}

.caixa-dir {

    background-color: rgb(19, 168, 234);
}

.caixa-dir, .caixa-esq{
    margin-top: 18px;
    
}

.caixa-dir h1, .caixa-esq h1{
    font-family: 'Jomhuria';
    font-size: xx-large;
    height: 30px;
}

.caixa-dir p, .caixa-esq p{
    font-family: 'Inter';
    font-size: 15px;
}

.img-anuncio-esq {
    border-radius: 15px 0 0 15px;

}

.img-anuncio-dir {
    border-radius: 0 15px 15px 0;
}



footer {
    height: 552px; 
    text-align: center;
    background-color: #6F875A;
    font-family: 'Inter';
}

/*  805px
    607px
    412px */       


/* FAZ COM QUE A LISTA DE ONGS NAO DIMINUA MAIS DO QUE 780PX SE O TAMANHO DE TELA MAXIMO 
CHEGAR EM 1558PX */
@media (max-width: 1627px) {

    .caixa-dir, .caixa-esq {
        width: 780px !important;        
    }
        
}

@media(max-width: 805px){
    .caixa-dir img, .caixa-esq img{
        display: none;
    }

    .caixa-dir, .caixa-esq {
        width: 92vw !important;
    }

}

@media(max-width: 535px){
    .caixa-dir, .caixa-esq{
        height: 300px !important;
    }
}

@media(max-width: 585px){
    .caixa-dir, .caixa-esq{
        height: 320px !important;
    }
}

@media(max-width: 570px){ /* media query para dropdown do login e cadastro*/
    .menu-list-itens-login{
        right: 1px !important;
    }
}

@media(max-width: 458px){
    .caixa-dir, .caixa-esq{
        height: 373px !important;
    }
}

@media(max-width: 413px){
    .caixa-dir, .caixa-esq{
        height: 370px !important;
    }
}

@media(max-width: 400px){
    .caixa-dir, .caixa-esq{
        height: 418px !important;
    }
}

/* ALINHA ITENS DE MENU PARA O MEIO SE PASSAR DE 766PX, A TRANSFORMAÇAO ENTRE OS ITENS DE MENU EM
ICONES É FEITA NO HTML PELO USANDO TAILWIND */
@media (max-width: 766px){
    .btn-menu-list{
        justify-content: center;
    }
}