@font-face {
    font-family: "Hanuman";
    src: url("../assets/fonts/Hanuman-Regular.ttf")
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/static/Inter-Regular.ttf")
}

@font-face {
    font-family: "KaiseiDecol";
    src: url("../assets/fonts/KaiseiDecol-Medium.ttf")
}

@font-face {
    font-family: "FugazOne";
    src: url("../assets/fonts/FugazOne-Regular.ttf")
}

@font-face {
    font-family: "Jomhuria";
    src: url("../assets/fonts/Jomhuria-Regular.ttf")
}

* {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

header {
    background-color: #E6EBEE;
}

#logo {
    width: 35px;
    height: 35px;
    margin-top: 3px;
    margin-right: 10px;
}

.brand-name {
    font-family: "Hanuman", serif;
}

.brand-l {
    color: #6A8C4E;
}

.brand-r {
    color: #60B4E9;
}

.header-menu-items a {
    padding: 2px 7px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #081509;
    transition: 0.3s;
}

.header-menu-items a:hover, .dropdown:hover .dropbtn {
    color: #FFF;
    background-color: #8FC5E7;
    border-radius: 10px;
}

.dropdown .dropbtn {
    padding: 2px 7px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #081509;
    transition: 0.3s;
}

.header-menu-dropdown-list, .menu-mobile-dropdown-list {
    display: none;
    position: absolute;
    background-color: #FFF;
    width: 220px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 2px #ADADAD;
    z-index: 1;
}

.header-menu-dropdown-list a, .menu-mobile-dropdown-list a {
    color: #081509;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    padding: 10px;
    display: block;
    text-align: left;
}

.header-menu-dropdown-list a:hover, .menu-mobile-dropdown-list a:hover {
    background-color: #8FC5E7;
    color: #FFF;
    border-radius: 0px;
    padding: 10px;
}

.dropdown:hover .header-menu-dropdown-list, .header-menu-mobile:hover .menu-mobile-dropdown-list {
    display:block;
}

#sign-up {
    padding: 2px 7px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #081509;
}

#sign-up:hover {
    padding: 2px 7px;
    background-color: #8FC5E7;
    color: #FFF;
    border-radius: 10px;
}

#profile-page{
    padding: 2px 7px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #081509;
}

#profile-page:hover{
    padding: 2px 7px;
    background-color: #8FC5E7;
    color: #FFF;
    border-radius: 10px;
}

.login {
    padding: 2px 25px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #081509;
    border: 1px solid #8FC5E7;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 2px 0.5px #8FC5E7;
}

.logout{
    padding: 2px 25px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #081509;
    border: 1px solid #8FC5E7;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 2px 0.5px #8FC5E7;
}

.criarbtn {
    padding: 2px 7px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #081509;
}


.criardown {
  position: relative;
  display: inline-block;

}


.criardown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 border-radius: 5px;
}


.criardown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}


#VoluntarioButton:hover {
    background-color: #8FC5E7;
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

#OngButton:hover {
    background-color: #6A8C4E;
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.criardown:hover .criardown-content {
  display: block;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.30);
    display: none;
}

.modal-active {
    display: block !important
}

.close-modal {
    width: 20px;
    height: 20px;
    margin-top: 25px;
    margin-right: 35px;
    cursor: pointer;
}

#profile-pic-modal-body {
    width: 1143px;
    height: 700px;
    margin-bottom: 60px;
    border-radius: 25px;
    background-color: #FFF;
    border: 1px solid #F1F1F4;
}

#profile-img {
    width: 450px;
    height: 442px;
    border-radius: 50%;
    border: 10px solid #687C57;
}

#add-img-btn,
#delete-img-btn {
    display: flex;
    width: 331px;
    height: 67px;
    border-radius: 15px;
    border: 1px solid #687C57;
    background-color: #FFF;
    box-shadow: 0.5px 0.5px 2px 0.5px #687C57;
    margin-top: 70px;
    margin-left: 50px;
    cursor: pointer;
}

#input-file {
    display: none;
}

#add-img-text,
#delete-img-text,
#share-achievement-text {
    color: #081509;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
}

#camera-icon,
#trashcan-icon,
#share-icon {
    width: 50px;
    height: 50px;
}

.test-img-modal {
    width: 450px;
    height: 442px;
    border-radius: 50%;
    border: 10px solid #687C57;
}

#personal-info-modal-body {
    max-width: 650px;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    border-radius: 25px;
    background-color: #FFF;
    border: 1px solid #F1F1F4;
}

#personal-info-modal-title,
#interests-modal-title {
    color: #081509;
    font-family: "Inter", sans-serif;
    font-size: 26px;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 35px;
}

#personal-info-modal-subtitle {
    color: rgba(8, 21, 9, 0.75);
    font-family: "Inter", sans-serif;
    font-size: 12px;
    margin-left: 50px;
}

.form-input-box input {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    border-radius: 5px;
    border-left: 5px solid #8FC5E7;
    background: #F6F6F6;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    transition: 0.2s;
}

.form-input-box select {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    border-radius: 5px;
    border-left: 5px solid #8FC5E7;
    background: #F6F6F6;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    transition: 0.2s;
}

.form-input-box input:focus {
    border-left: 5px solid #687C57;
    outline: 2px solid #687C57;
    box-shadow: 0 0 0 4px rgba(104, 124, 87, 0.4);
}

.form-input-box select:focus {
    border-left: 5px solid #687C57;
    outline: 2px solid #687C57;
    box-shadow: 0 0 0 4px rgba(104, 124, 87, 0.4);
}

.form-input-box label {
    color: #081509;
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

.form-input-box a {
    font-family: "Inter", sans-serif;
    visibility: hidden;
}

.form-input-box.invalid input {
    border-left: 5px solid rgb(233, 23, 23) !important;
    outline: 2px solid rgb(233, 23, 23) !important;
    box-shadow: 0 0 0 4px rgba(255, 8, 0, 0.4) !important;
}

.form-input-box.invalid select {
    border-left: 5px solid rgb(233, 23, 23) !important;
    outline: 2px solid rgb(233, 23, 23) !important;
    box-shadow: 0 0 0 4px rgba(255, 8, 0, 0.4) !important;
}

.form-input-box.invalid a {
    color: rgb(233, 23, 23) !important;
    visibility: visible !important;
}

.form-input-box.invalid {
    margin-top: 16px;
}

.btn {
    color: #081509;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    width: 100%;
    transition: 0.3s;
    border-radius: 15px;
    border: 1px solid #687C57;
    background-color: #EEE;
    box-shadow: 0.5px 0.5px 2px 0.5px #687C57;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
}

#btn-editar-perfil {
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid #687C57;
    box-shadow: 0.5px 0.5px 2px 0.5px #687C57;
}

#interests-modal-body {
    width: 1143px;
    height: 680px;
    margin-bottom: 115px;
    border-radius: 25px;
    background-color: #FFF;
    border: 1px solid #F1F1F4;
}

#interests-modal-box {
    width: 1080px;
    height: 409px;
    border-radius: 25px;
    margin-top: 15px;
    padding-top: 25px;
    background-color: #F9F9F9;
    box-shadow: 0.5px 0.5px 2px 0px rgba(0, 0, 0, 0.25) inset;
    overflow: auto;
}

#interests-boxes ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.2vw;
    margin-left: 4vw;
    margin-right: 5vw;
}

#interests-boxes li {
    height: 2.5vw;
    width: 14vw;
    align-items: center;
    border-radius: 25px;
    border: 1px solid #60B4E9;
    background-color: #F9F9F9;
    box-shadow: 0.5px 0.5px 2px 0.5px #60B4E9;
    cursor: pointer;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#interests-boxes li span {
    color: #081509;
    font-family: "Inter", sans-serif;
    font-size: 24px;
}

#interests-boxes button {
    display: none;
    text-align: center;
    justify-content: center;
    color: #081509;
    font-family: "Inter", sans-serif;
    font-size: 36px;
}

#interests-boxes li:hover button {
    display: block;
}

#interests-boxes li:hover span {
    display: none;
    cursor: pointer;
}

#interest-input-box {
    width: 100%;
}

#interest-input-box input {
    height: 2.5vw;
    width: 14vw;
    border-radius: 25px;
    border: 1px solid #60B4E9;
    background-color: #F9F9F9;
    box-shadow: 0.5px 0.5px 2px 0.5px #60B4E9;
    cursor: pointer;
    color: #081509;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

#interests-boxes input:focus {
    outline: 1px solid #60B4E9;
}

#interests-boxes input:active,
#interests-boxes li:active {
    transform: scale(0.98);
}

#collected-achievements-modal-body {
    width: 1000px;
    height: 500px;
    margin-bottom: 185px;
    border-radius: 25px;
    background-color: #FFF;
    border: 1px solid #F1F1F4;
}

.achievement-icon-close-up {
    width: 180px;
    height: 180px;
}

.achievement-text-h1 {
    color: #081509;
    font-family: "Inter", sans-serif;
    font-size: 36px;
}

.achievement-text-h2 {
    color: #081509;
    font-family: "Inter", sans-serif;
    font-size: 24px;
}

#uncollected-achievements-modal-body {
    width: 1169px;
    height: 892px;
    background-color: #FFF;
    border: 1px solid #F1F1F4;
    overflow: auto;
    padding-bottom: 5px;
}

#uncollected-achievements-modal-title {
    color: #081509;
    font-family: "Inter", sans-serif;
    font-size: 26px;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 35px;
    background-color: #FFF;
}

.uncollected-achievement-icon-box {
    width: 171px;
    height: 139px;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    background-color: #D4D4D4;
    box-shadow: 0.5px 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.achievement-icons {
    width: 96px;
    height: 96px;
}

.unachieved-icons {
    mix-blend-mode: luminosity;
}

.uncollected-achievement-description-box {
    width: 918px;
    height: 139px;
    border-radius: 0px 5px 5px 0px;
    background: #E2E3E3;
    box-shadow: 0.5px 0.5px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

.uncollected-achievement-description-box h1 {
    color: #081509;
    font-family: "Inter", sans-serif;
    font-size: 28px;
    padding-left: 25px;
}

#btn-view-achievements {
    padding: 10px;
    width: 20vw;
    border-radius: 15px;
    border: 1px solid #687C57;
    box-shadow: 0.5px 0.5px 2px 0.5px #687C57;
}

body {
    background-color: #F9F9F9;
}


footer {
    background-color: #E6EBEE;
}

#footer-menu-list li {
    color: #5f7051;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

#footer-menu-list li:hover {
    color: #3F4D33;
}

#contact-title {
    color: #3F4C33;
    font-family: "Hanuman", serif;
    font-size: 32px;
}

#contact-info {
    color: #4F5F42;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

/* PARTE ESTRELAS*/
.estrela {
    width: 1.5vw;
    height: 1.5vw;
}

.estrelaa {

    opacity: 0;
    position: absolute;
    pointer-events: none;
}

/* BOTAO DE EDITAR */

#btn-editar-perfil {

    padding: 0.5vw;
    width: 100%;
    border-radius: 1vw;
    border: 0.1vw solid #687C57;
    box-shadow: 0.01vw 0.01vw 0.1vw 0.01vw #687C57;

}

/* Responsividade para telas menores que 550px */

@media (max-width: 550px) {
    .perfil {
        width: 95vw !important;
        height: 120vw !important;
        border-radius: 10vw !important;
        margin-left: 2vw !important;
    }

    .estrela {
        width: 6.5vw;
        height: 6.5vw;

    }

    #btn-editar-perfil {

        border-radius: 5vw;
    }

    .interesses {
        width: 95vw !important;
        border-radius: 10vw !important;
        font-size: 5vw !important;

    }

    .btn-interesses {

        height: 10vw !important;
        width: 35vw !important;
        border-radius: 20vw !important;
        border: 0.3vw solid #60B4E9 !important;
        box-shadow: 0.2vw 0.2vw 0.2vw 0.2vw #60B4E9 !important;
        font-size: 4vw !important;
        margin-top: 5vw;
        margin-left: 5vw;

    }

    .conquistas {

        width: 95vw !important;
        height: auto !important;
        border-radius: 10vw !important;
        font-size: 5vw !important;
        padding-bottom: 10vw;

    }

    .btn-conquistas {
        height: 15vw !important;
        margin-left: 8vw !important;
        margin-top: 3vw !important;
        


    }

    #btn-visualizar-conquistas {

        width: 70vw !important;
        border-radius: 8vw !important;
        margin-top: 8vw;
        border: 0.3vw solid #687C57;
        box-shadow: 0.3vw 0.3vw 0.3vw 0.3vw #687C57;
    
    }
    

}

/*  805px
    607px
    412px */


/* FAZ COM QUE A LISTA DE ONGS NAO DIMINUA MAIS DO QUE 780PX SE O TAMANHO DE TELA MAXIMO 
CHEGAR EM 1558PX */
@media (max-width: 1627px) {

    .caixa-dir,
    .caixa-esq {
        width: 780px !important;
    }

}

@media(max-width: 805px) {

    .caixa-dir img,
    .caixa-esq img {
        display: none;
    }

    .caixa-dir,
    .caixa-esq {
        width: 92vw !important;
    }

}

@media(max-width: 535px) {

    .caixa-dir,
    .caixa-esq {
        height: 300px !important;
    }
}

@media(max-width: 585px) {

    .caixa-dir,
    .caixa-esq {
        height: 320px !important;
    }
}

@media(max-width: 570px) {

    /* media query para dropdown do login e cadastro*/
    .menu-list-itens-login {
        right: 1px !important;
    }
}

@media(max-width: 458px) {

    .caixa-dir,
    .caixa-esq {
        height: 373px !important;
    }
}

@media(max-width: 413px) {

    .caixa-dir,
    .caixa-esq {
        height: 370px !important;
    }
}

@media(max-width: 400px) {

    .caixa-dir,
    .caixa-esq {
        height: 418px !important;
    }
}

/* ALINHA ITENS DE MENU PARA O MEIO SE PASSAR DE 766PX, A TRANSFORMAÇAO ENTRE OS ITENS DE MENU EM
ICONES É FEITA NO HTML PELO USANDO TAILWIND */
@media (max-width: 766px) {
    .btn-menu-list {
        justify-content: center;
    }
}

.perfil {
    display: grid;
    justify-items: center;
    margin-left: 1vw;
    margin-top: 3vw;
    width: 20vw;
    background-color: #fff;
    height: 40vw;
    border-radius: 1vw;
    box-shadow: 0.1vw 0.1vw 0.3vw 0px rgba(0, 0, 0, 0.25);

}

#profile-page{
    padding: 2px 7px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #081509;
}

#profile-page:hover{
    padding: 2px 7px;
    background-color: rgba(208, 218, 199, 0.80);
    border-radius: 10px;
}

.login {
    padding: 2px 25px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #081509;
    border: 1px solid #687C57;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 2px 0.5px #687C57;
}

.logout{
    padding: 2px 25px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #081509;
    border: 1px solid #687C57;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 2px 0.5px #687C57;
}

/* INTERESSES E APTIDOES */

.interesses {
    margin-left: 2vw;
    margin-top: 3vw;
    width: 70vw;
    background-color: #fff;
    height: auto;
    border-radius: 1vw;
    box-shadow: 0.1vw 0.1vw 0.3vw 0px rgba(0, 0, 0, 0.25);
    padding-bottom: 5vw;

}

.btn-interesses {

    height: 2.5vw;
    width: 14vw;
    border-radius: 20vw;
    border: 0.1vw solid #60B4E9;
    box-shadow: 0.01vw 0.01vw 0.1vw 0.01vw #60B4E9;
    font-family: Inter;
    font-size: 1.2vw;
    align-items: center;
}


.conquistas {

    margin-left: 2vw;
    margin-top: 2.5vw;
    margin-bottom: 3vw;
    width: 70vw;
    background-color: #fff;
    height: 23vw;
    border-radius: 1vw;
    box-shadow: 0.1vw 0.1vw 0.3vw 0px rgba(0, 0, 0, 0.25);
    

}

/* BOTAO DE VISUALIZAR CONQUISTAS */


.btn-conquistas {
    height: 4.5vw;
}

#btn-visualizar-conquistas {
    padding: 0.6vw;
    width: 20vw;
    border-radius: 1vw;
    border: 0.1vw solid #687C57;
    box-shadow: 0.01vw 0.01vw 0.1vw 0.01vw #687C57;

}
/* PARTE AVALIAÇÃO DE ONG */
#avaliation {
    width: 53vw;
    height: 27vw;
    margin-bottom: 185px;
    border-radius: 25px;
    background-color: #FFF;
    border: 1px solid #F1F1F4;
}

.modal-avaliar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.30);

}

/* PARTE ESTRELAS AVALIAÇÃO*/
.estrela-avaliacao {
    margin-top: 2vw;
    width: 6vw;
    height: 6vw;
    cursor: pointer;
}

.estrelaa-avaliacao {
    
    opacity: 0;
    position: absolute;
    pointer-events: none;
}
.estrela-avaliacao1:hover>.estrelaa-avaliacao,
.selected {
  opacity: 1 !important;
  pointer-events: all !important;

}

.estrela-avaliacao2:hover>.estrelaa-avaliacao {
  opacity: 1;
  pointer-events: all;

}

.estrela-avaliacao3:hover>.estrelaa-avaliacao {
  opacity: 1;
  pointer-events: all;

}

.estrela-avaliacao4:hover>.estrelaa-avaliacao {
  opacity: 1;
  pointer-events: all;

}

.estrela-avaliacao5:hover>.estrelaa-avaliacao {
  opacity: 1;
  pointer-events: all;

}

.modal-avaliar {
    display: none;
}

@media (max-width: 766px) {
    #avaliation {
        width: 90vw;
        height: 50vw;
        border-radius: 6vw;
        border: 0.2vw solid #F1F1F4;
    }

    .estrela-avaliacao {

        width: 12vw;
        height: 12vw;
    }

    .btn {
        margin-top: 2vw;
        color: #081509;
        font-family: "Inter", sans-serif;
        font-size: 4vw;
        padding: 1vw;
        width: 35vw;
        border-radius: 3vw;
        border: 0.1px solid #687C57;

    }
}