@font-face {
    font-family: "Hanuman";
    src: url("../assets/fonts/Hanuman-Regular.ttf")
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/static/Inter-Regular.ttf")
}

@font-face {
    font-family: "KaiseiDecol";
    src: url("../assets/fonts/KaiseiDecol-Medium.ttf")
}

@font-face {
    font-family: "FugazOne";
    src: url("../assets/fonts/FugazOne-Regular.ttf")
}

@font-face {
    font-family: "Jomhuria";
    src: url("../assets/fonts/Jomhuria-Regular.ttf")
}

.container-infos {
    width: 1920px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 2px solid #F1F1F4;
    background: #FFF;
}

.foto-perfil {
    margin-top: 35px;
    margin-left: 29px;
    width: 270px;
    height: 265.549px;
    flex-shrink: 0;
    border-radius: 147.527px;
    background: url(<path-to-image>), lightgray 20.658px 18.432px / 84.614% 88.59% no-repeat;
}

.descricao {
    margin-top:-250px;
    margin-left: 380px;
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.container-lista-anuncios {
    width: 1920px;
    height: 500px;
    border-radius: 18px;
    background: #E6EBEE;

}

.estrelas1,
.estrelas2,
.estrelas3,
.estrelas4,
.estrelas5 {
    cursor: pointer;
    width: 1.5vw;
    height: 1.5vw;
}

.estrelas1:hover>.estrelaa,
.selected {
    opacity: 1 !important;
    pointer-events: all !important;

}

.estrelas2:hover>.estrelaa {
    opacity: 1;
    pointer-events: all;

}

.estrelas3:hover>.estrelaa {
    opacity: 1;
    pointer-events: all;

}

.estrelas4:hover>.estrelaa {
    opacity: 1;
    pointer-events: all;

}

.estrelas5:hover>.estrelaa {
    opacity: 1;
    pointer-events: all;

}

.estrelaa {
    opacity: 0;
    position: absolute;
    pointer-events: none;


}
#btn-editar-perfil {
   
    padding: 0.5vw;
    width: 300px;
    border-radius: 1vw;
    border: 0.1vw solid #687C57;
    box-shadow: 0.01vw 0.01vw 0.1vw 0.01vw #687C57;

}

    


