@font-face {
    font-family: "Hanuman";
    src: url("../assets/fonts/Hanuman-Regular.ttf")
}

header {
    background-color: #EEEEEE;
}

#logo {
    width: 35px;
    height: 35px;
    margin-top: 3px;
    margin-right: 10px;
}

.brand-name {
    font-family: "Hanuman", serif;
}

.brand-l {
    color: #6A8C4E;
}

.brand-r {
    color: #60B4E9;
}
.Tela1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Hanuman;
    width: 50%;
    height: 100vh;
    float: left;
    background-color: #60B4E9;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}

.Tela2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Hanuman;
    font-size: 20px;
    height: 100vh;
    float: left;
    background-color: #ffffff;
    color: #60B4E9;
    text-align: center;
    box-sizing: border-box;
}
.botao{
    transition:transform 0.5s ease;
    color:#F3F3F3;
    margin: 100px auto;
    color: #F3F3F3;
    font-family: Marko;
    font-size: 17px;
    border-radius: 21px;
    background: #60B4E9;
    width: 250px;
    height: 35px;
    border: 1px solid #000000;
    font: 1em sans-serif;
}
.botao:hover{
    background-color:#60B4E9;
    color: white;
    transform: scale(1.2)
}
.ongs{
    border-radius: 21px;
    border: 1px solid #fff;
    font-size: 18px;
    transition:transform 0.10s ease;
    font: 1em sans-serif;
    width: 50%;
}

@media(max-width: 414px){
    .botao{
        width: 100px !important;
    }
}

  