@font-face {
    font-family: "Hanuman";
    src: url("../assets/fonts/Hanuman-Regular.ttf")
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/static/Inter-Regular.ttf")
}

header {
    background-color: #EEEEEE;
}

#logo {
    width: 35px;
    height: 35px;
    margin-top: 3px;
    margin-right: 10px;
}

.brand-name {
    font-family: "Hanuman", serif;
}

.brand-l {
    color: #6A8C4E;
}

.brand-r {
    color: #60B4E9;
}

.header-menu-items a {
    padding: 2px 7px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #081509;
    transition: 0.3s;
}

.header-menu-items a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(208, 218, 199, 0.80);
    border-radius: 10px;
}

.dropdown .dropbtn {
    padding: 2px 7px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #081509;
    transition: 0.3s;
}

.header-menu-dropdown-list, .menu-mobile-dropdown-list {
    display: none;
    position: absolute;
    background-color: #FFF;
    width: 220px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 2px #ADADAD;
    z-index: 1;
}

.header-menu-dropdown-list a, .menu-mobile-dropdown-list a, .profile-dropdown-list a {
    color: #081509;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    padding: 10px;
    display: block;
    text-align: left;
}

.header-menu-dropdown-list a:hover, .menu-mobile-dropdown-list a:hover, .profile-dropdown-list a:hover {
    background-color: rgba(208, 218, 199, 0.80);
    border-radius: 0px;
    padding: 10px;
}

.dropdown:hover .header-menu-dropdown-list, .header-menu-mobile:hover .menu-mobile-dropdown-list {
    display:block;
}

#header-profile-picture {
    border-radius: 50%;
    border: 2px solid #687C57;
}

.profile-dropdown {
    position: absolute;
    top: 9%;
    right: 4.5%;
    background-color: #FFF;
    width: 150px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0px #ADADAD;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.profile-dropdown.open-profile-menu {
    max-height: 400px;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.30);
    display: fsfnone;
}

#profile-pic-modal-body {
    width: 1143px;
    height: 700px;
    border-radius: 25px;
    background-color: #EEE;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

#profile-img {
    width: 450px;
    height: 442px;
    border-radius: 50%;
    border: 10px solid #687C57;
}

label {
    display: flex;
    width: 331px;
    height: 67px;
    border-radius: 15px;
    border: 1px solid #687C57;
    background-color: #EEE;
    box-shadow: 0.5px 0.5px 2px 0.5px #687C57;
    color: #081509;
    margin-top: 70px;
    margin-left: 50px;
    cursor: pointer;
}

input {
    display: none;
}

#add-img-text {
    color: #081509;
    font-family: "Inter", sans-serif;
    font-size: 32px;
}

#camera-icon {
    width: 50px;
    height: 50px;
}